services:
  {{cookiecutter.package_dir}}:
    build:
      context: .
      target: development
    command:
      [
        "gunicorn",
        "--workers=2",
        "--worker-class",
        "uvicorn.workers.UvicornWorker",
        "--bind=0.0.0.0:8000",
        "{{cookiecutter.package_dir}}.main:app",
      ]
    env_file:
      - .env
    volumes:
      - ./test-reports/:/app/test-reports/
    ports:
      - "8000:8000"
    {%- if cookiecutter.celery %}
    depends_on:
      - redis
    {%- endif %}

  {%- if cookiecutter.celery %}
  worker:
    build:
      context: .
      target: development
    command: celery -A {{cookiecutter.package_dir}}.worker.celery worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
  {%- endif %}